[submodule "resources/analysis/golem_HESE"]
	path = resources/analysis/golem_HESE
	url = git@github.com:hogenshpogen/golem_HESE
[submodule "resources/analysis/golem_MESE"]
	path = resources/analysis/golem_MESE
	url = git@github.com:hogenshpogen/golem_MESE
[submodule "resources/analysis/golem_MEOWS"]
	path = resources/analysis/golem_MEOWS
	url = git@github.com:arguelles/golem_MEOWS
[submodule "resources/analysis/golem_ESTES"]
	path = resources/analysis/golem_ESTES
	url = https://github.com/manuel92780/Golem_ESTES
